<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <style type="text/css">
    .badge-icon {
      position: absolute;
    }
    .badge-label {
      fill: #888;
    }
    .badge-info {
      fill: #4c0;
    }
    .badge-txt-left {
        fill: #010101;
    }
    .badge-txt-right {
        fill: #010101;
    }
    </style>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
